$white: rgb(208, 211, 212);
$black: rgb(0, 0, 0);
$red: rgba(193, 27, 23, .9);
$light-red: rgba(193, 27, 23, .6);
$light-green: rgba(114, 140, 0, .3);
$grey-green: rgba(132, 139, 121, .4);
$green: rgb(0,128,0);
